.box
  - @diaries.each do |diary|
    - if current_user.id == diary.user_id
      .title
        = diary.title
        = link_to '削除', diary_path(diary.id), method: :delete
        = link_to "編集", edit_diary_path(diary.id)
      .bun
        .txst
          = diary.text
        .sayashin
          =image_tag diary.image, width:"520px", height:"400px"
  = paginate(@diaries)

  =link_to "トップページに戻る", root_path, class: 'top'