%p 検索
= form_tag(search_diaries_path,:method => 'get') do
  = text_field_text :search
  = submit_tag ,search_diaries_path :nickname => nil
  %ul
  - @diaries.each do |diary|
    %li
      = link_to diaries.title, 
      = diary.created_at
      = diary.status


-# .box
-# - @diaries.each do |diary|
-#   %p= diary.title
-#   %p= diary.text
-#   %p= diary.image

-# .form
-#   = form_tag(search_diaries_path, method: :get) do
-#     %input.search-form__input{name: "keyword", type: "text"}